# Bytecode and cache
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
venv/
env/
*.venv
.env

# Logs and temp files
*.log
logs/
*.tmp
transcript_segment_data.json

# System files
.DS_Store
Thumbs.db

# Audio & output transcripts (optional, if you don’t want to track large files)
*.wav
*.mp3
*.mp4
transcripts/
output/
uploads/
conversion_wav/

# Jupyter Notebooks (if used)
.ipynb_checkpoints/

# VS Code / IDE configs
.vscode/
.idea/
*.swp

poetry.lock



