# Bytecode and cache
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
venv/
myenv/
env/
*.venv
.env
pyvenv.cfg

# Logs and temp files
*.log
logs/
*.tmp
transcript_segment_data.json
diarization_data.json

# System files
.DS_Store
Thumbs.db

# Audio & output transcripts
*.wav
*.mp3
*.mp4
transcripts/
output/
uploads/
sample_data/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code / IDE configs
.vscode/
.idea/
*.swp

poetry.lock



