# fly.toml app configuration file generated for conversation-analysis on 2025-12-22T20:45:22-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'conversation-analysis'
primary_region = 'sjc'

[env]
  FLASK_ENV = 'production'
  PORT = '8080'
  PYTHONUNBUFFERED = 'true'

[processes]
  web = 'python app.py'

[http_service]
  internal_port = 7860
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['web']

[[services]]
  protocol = ''
  internal_port = 8080
  processes = ['web']

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [[services.http_checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '15s'
    method = 'GET'
    path = '/'

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
